body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  background-color: #016f32;
  color: white;
  font-weight: bold;
}

h1 {
  color: goldenrod;
}

#message-el {
  font-style: italic;
}

button {
  display: block;
  margin: 5px auto;
  width: 150px;
  padding: 5px 0;
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  color: #016f32;
  background-color: goldenrod;
  border: none;
  border-radius: 5px;
}
