body {
    background-color: rgb(32,33,36);
}

.main {
    margin-top: 100px;
}

.logo {
    width: 300px;
    display: block;
    margin: 0 auto 20px;
}

.search {
    display: block;
    width: 400px;
    line-height: 24px;
    margin: auto;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding: 10px 30px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.btn {
    margin: 30px 5px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    background: #dfe1e5;
    font-size: 14px;
}